<h1>Bienvenidos a la sección Contacto</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis odio, itaque vero pariatur soluta, iure, voluptas
  atque molestiae et maxime quibusdam. Voluptate distinctio recusandae eum, eius earum maiores ut eaque.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis odio, itaque vero pariatur soluta, iure, voluptas
  atque molestiae et maxime quibusdam. Voluptate distinctio recusandae eum, eius earum maiores ut eaque.</p>
&nbsp;
&nbsp;

<h3>Ingrese su correo electrónico</h3>
<form action="/send" method="post">
  <input type="text"><button>Enviar</button>
</form>