<h1>{{title}}</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam doloribus magni quae itaque sapiente iste, amet animi explicabo dolorum repellat quod quaerat at hic! Debitis obcaecati aliquam corrupti reiciendis animi.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam doloribus magni quae itaque sapiente iste, amet animi explicabo dolorum repellat quod quaerat at hic! Debitis obcaecati aliquam corrupti reiciendis animi.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam doloribus magni quae itaque sapiente iste, amet animi explicabo dolorum repellat quod quaerat at hic! Debitis obcaecati aliquam corrupti reiciendis animi.</p>

<h2Seguinos en nuestras redes oficiales></h2>

<nav><a href="/fb">Facebook</a>&nbsp;&nbsp;<a href="/ig">Instagram</a>&nbsp;&nbsp;<a href="/twitter">Twitter</a></nav>

 